* {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  overflow-x: hidden;
}
body .topBar {
  width: 100vw;
  height: 45px;
  background: #e74c3c;
  border-bottom: 1px solid rgba(97, 97, 97, 0.287);
}
body .contentWrapper {
  width: 100vw;
  height: 100%;
  padding: 20px 0;
  display: flex;
}
body .contentWrapper .content {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  flex-basis: 100%;
}
body .contentWrapper .content .puchamon {
  flex-basis: 1;
  width: 20vw;
  height: 20vw;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  border-radius: 15px;
  transition: all 0.4s ease;
  border: 1px solid gray;
  padding: 10px;
}
body .contentWrapper .content .puchamon:hover .name {
  opacity: 1;
}
body .contentWrapper .content .puchamon img {
  height: 100%;
}
body .contentWrapper .content .puchamon .name {
  border-radius: 0 0 15px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 10px 15px;
  background: #2c3e50;
  color: white;
  opacity: 0.5;
}
body .contentWrapper .detail {
  position: absolute;
  width: 35vw;
  top: 45px;
  left: 100vw;
  height: 100vh;
  background: white;
  transition: left 0.3s ease;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
body .contentWrapper .detail button {
  display: none;
}
body .contentWrapper .detail.open {
  left: 65vw;
}

@media (max-width: 1024px) {
  body .contentWrapper .detail {
    width: 50vw;
  }
  body .contentWrapper .detail.open {
    left: 50vw;
  }
}
@media (max-width: 375px) {
  body .contentWrapper .content .puchamon {
    width: calc(50vw - 10px);
    height: 50vw;
  }
  body .contentWrapper .detail {
    width: 100vw;
  }
  body .contentWrapper .detail button {
    display: flex;
  }
  body .contentWrapper .detail.open {
    left: 0vw;
  }
}

/*# sourceMappingURL=main.css.map */
